<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <main class="px-3">
    <h1>Bienvenido a la Biblioteca Mágica: Tu Mundo de Conocimiento</h1>
    <br>
    <p class="lead">¡Explora el fascinante mundo de la Biblioteca Mágica! 
        Sumérgete en la magia de la literatura con nuestro extenso catálogo de libros. 
        Desde antiguos pergaminos hasta las últimas novelas de fantasía, encontrarás 
        tesoros que te transportarán a mundos inexplorados.

        Descubre tus libros favoritos, revisa las últimas adquisiciones y mantente al tanto de las novedades. ¿Listo para embarcarte en una nueva aventura literaria? 
        Regístrate ahora y comienza tu viaje en la Biblioteca Mágica.</p>
    <p class="lead">
    </p>
  </main>

  <footer class="mt-auto text-white-50">
  </footer>
  <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" 
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" 
  crossorigin="anonymous"></script>
</div>