<main class="px-3">
    <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bienvenido a la Biblioteca Mágica: Tu Mundo de Conocimiento</font></font></h1>
    <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">¡Explora el fascinante mundo de la Biblioteca Mágica! Sumérgete en la magia de la literatura con nuestro extenso catálogo de libros. Desde antiguos pergaminos hasta las últimas novelas de fantasía, encontrarás tesoros que te transportarán a mundos inexplorados.

Descubre tus libros favoritos, revisa las últimas adquisiciones y mantente al tanto de las novedades. ¿Listo para embarcarte en una nueva aventura literaria? Regístrate ahora y comienza tu viaje en la Biblioteca Mágica.</font></font></p>
    <p class="lead">
   </p>
  </main>